{% extends 'base.html'%}

{% block title %}
<title>welcome to TaskMate</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <br>
        {% if messages %}
            {% for i in messages %}
            <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/>
              <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </symbol>
            </svg>
            <div>
                {{i}}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
            </div>

            {% endfor %}
        {% endif %}
    <form method="POST" >
        {% csrf_token %}
        <div class="mb-3">
        <input type="text" class="form-control" name='task' placeholder="Add Task?">
        </div>
        <input type="submit" class='btn btn-primary' name="Add Task">
    </form>
        <br>
        <table class="table">
  <thead>
    <tr class="row">
      <th class="col-7">Task</th>
      <th class="col-3">Done</th>
      <th class="col-1">Edit</th>
      <th class="col-1">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% if all_tasks %}
  {% for i in all_tasks %}
    {% if i.done %}
    <tr class="table-success row">
      <th class="col-7">{{i.task}}</th>
      <td class="col-3"><a href="{% url 'incomplete_task' i.id %}">Mark As Pending</a></td>
      <td class="col-1"><a href="{% url 'edit' i.id %}">Edit</a></td>
      <td class="col-1"><a href="{% url 'delete_task' i.id %}">Delete</a></td>
    </tr>
    {% else %}
    <tr class="row">
      <th class="col-7">{{i.task}}</th>
      <td class="col-3"><a href="{% url 'complete_task' i.id %}">Mark As Completed</a></td>
      <td class="col-1"><a href="{% url 'edit' i.id %}">Edit</a></td>
      <td class="col-1"><a href="{% url 'delete_task' i.id %}">Delete</a></td>
    </tr>
    {% endif %}
  {% endfor %}
  {% endif %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
     {% if all_tasks.has_previous %}
        <li class="page-item"><a class="page-link" href="?pg={{all_tasks.previous_page_number}}">{{all_tasks.previous_page_number}}</a></li>
     {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{all_tasks.number}}">{{all_tasks.number}}</a></li>
      {% if all_tasks.has_next %}
        <li class="page-item"><a class="page-link" href="?pg={{all_tasks.next_page_number}}">{{all_tasks.next_page_number}}</a></li>
      {% endif %}
    <li class="page-item"><a class="page-link" href="?pg={{all_tasks.paginator.num_pages}}">>></a></li>
  </ul>
</nav>
    </div>
{% endblock content %}